<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="preferExternal"
          package="com.project.golovolomki">

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:extractNativeLibs="true"
        android:isGame="false"
        android:largeHeap="true"
        android:minSdkVersion="16"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:targetSdkVersion="19"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name="com.project.golovolomki.Activities.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project.golovolomki.Activities.PuzzleActivity"
            android:label="@string/title_activity_puzzle"
            android:theme="@style/Theme.AppCompat.NoActionBar">
    </activity>

        <activity android:name="com.project.golovolomki.Activities.AnswerActivity" />

        <activity
            android:name="com.project.golovolomki.Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.project.golovolomki.Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name="com.project.golovolomki.Activities.AboutActivity"></activity>
    </application>

</manifest>